<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styling.css">
	<meta viewport="stylesheet" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="t3" style="background-color: blue">
	<h1 style="padding-top: 20px;"><center>LIST OF MOVIES</center></h1>
	<hr>
</div>
	<div class="c1">
		<ul style="list-style-type: none;"><li>
		<div id="t2">
			<h3><center>Harry Potter and the Sorcerer's Stone(2001)</center></h3>
			<a href="https://www.imdb.com/title/tt0241527/" target="_blank"><img src="https://m.media-amazon.com/images/M/MV5BNjQ3NWNlNmQtMTE5ZS00MDdmLTlkZjUtZTBlM2UxMGFiMTU3XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_UX182_CR0,0,182,268_AL_.jpg"></a>
			<pre><b>Summary:</b> An orphaned boy enrolls in a school of wizardry, where he learns the truth about
         himself,his family and the terrible evil that haunts the magical world.
<b>Writers:</b> J.K. Rowling (novel), Steve Kloves (screenplay).
<b>Director:</b> Chris Columbus.
<b>Actors:</b> Daniel Radcliffe, Rupert Grint, Emma Watson.
		</pre>
		</div></li>
		<hr>

		<li><div style="clear: both;" id="t2">
			<center><h3>Harry Potter and the Chamber of Secrets (2002)</h3></center>
			<a href="https://www.imdb.com/title/tt0295297/"><img src="https://m.media-amazon.com/images/M/MV5BMTcxODgwMDkxNV5BMl5BanBnXkFtZTYwMDk2MDg3._V1_UX182_CR0,0,182,268_AL_.jpg"></a>
			<pre><b>Summary:</b> An ancient prophecy seems to be coming true when a mysterious presence begins stalking the corridors of 
         a school of magic and leaving its victims paralyzed.
<b>Writer:</b> J.K. Rowling (novel), Steve Kloves (screenplay).
<b>Director:</b> Chris Columbus.
<b>Stars:</b> Daniel Radcliffe, Rupert Grint, Emma Watson.</pre>
			
		</div></li><hr>
		<li><div id="t2" style="clear: both;">
			<center><h3>Harry Potter and the Prisioner of Askaban(2004)</h3></center>
			<a href="https://www.imdb.com/title/tt0304141/"><img src="https://images-na.ssl-images-amazon.com/images/I/51gHME-uBsL.jpg"></a>
			<pre><b>Summary:</b> It's Harry's (Daniel Radcliffe's) third year at Hogwarts; not only does he have a new 
         "Defense Against the Dark Arts" teacher, Professor Lupin (David Thewlis), but there is also trouble 
         brewing. Convicted murderer Sirius Black (Gary Oldman) has 
         escaped the Wizards' Prison and is coming after Harry.
<b>Writer:</b> J.K. Rowling (novel), Steve Kloves (screenplay).
<b>Director:</b> Alfonso Cuaron.
<b>Stars:</b> Daniel Radcliffe, Rupert Grint, Emma Watson.</pre>
        </div></li><hr>

        <li><div id="t2" style="clear: both;">
        	<center><h3>Harry Potter and the Goblet of Fire (2005)</h3></center>
        	<a href="https://www.imdb.com/title/tt0330373/"><img src="https://m.media-amazon.com/images/M/MV5BMTI1NDMyMjExOF5BMl5BanBnXkFtZTcwOTc4MjQzMQ@@._V1_UX182_CR0,0,182,268_AL_.jpg"></a>
        	<pre><b>Summary:</b> Harry Potter (Daniel Radcliffe) finds himself competing in a hazardous tournament between rival schools of magic,
         but he is distracted by recurring nightmares.
<b>Writer:</b> J.K. Rowling (novel), Steve Kloves (screenplay).
<b>Director:</b> Mike Newell.
<b>Stars:</b> Daniel Radcliffe, Rupert Grint, Emma Watson.</pre>
        </div></li><hr>
        
        <li><div id="t2" style="clear: both;">
        	<center><h3>Harry Potter and the Order of the Phoenix (2007)</h3></center>
        	<a href="https://www.imdb.com/title/tt0373889/"><img src="https://i.etsystatic.com/10683147/r/il/cefa93/1448075633/il_570xN.1448075633_7fuo.jpg
"></a>
        	<pre><b>Summary:</b> With their warning about Lord Voldemort's (Ralph Fiennes') return scoffed at, Harry (Daniel Radcliffe) and
         Dumbledore (Sir Michael Gambon) are targeted by the Wizard authorities as an authoritarian bureaucrat
         slowly seizes power at Hogwarts.
<b>Writer:</b> J.K. Rowling (novel), Michael Goldenberg (screenplay).
<b>Director:</b> David Yates.
<b>Stars:</b> Daniel Radcliffe, Rupert Grint, Emma Watson.</pre>
        </div></li><hr>

<li><div id="t2" style="clear: both;">
        	<center><h3>Harry Potter and the Half-Blood Prince (2009)</h3></center>
        	<a href="https://www.imdb.com/title/tt0417741/"><img src="https://images-na.ssl-images-amazon.com/images/I/51aXA-F6lSL.jpg
"></a>
        	<pre><b>Summary:</b>As Harry Potter (Daniel Radcliffe) begins his sixth year at Hogwarts, he discovers an old book marked as
        "the property of the Half-Blood Prince" and begins to learn more about Lord Voldemort's (Ralph Fiennes') dark past.
<b>Writer:</b> J.K. Rowling (novel), Steve Kloves (screenplay).
<b>Director:</b> David Yates.
<b>Stars:</b> Daniel Radcliffe, Rupert Grint, Emma Watson.</pre>
        </div></li><hr>

       <li> <div id="t2" style="clear: both;">
        	<center><h3>Harry Potter and the Deathly Hallows: Part 1 (2010)</h3></center>
        	<a href="https://www.imdb.com/title/tt0926084/"><img src="https://cdn10.bigcommerce.com/s-o6vy9cv/products/135737/images/132009/506620__71220.1519287850.500.500.jpg?c=2
"></a>
        	<pre><b>Summary:</b>As Harry (Daniel Radcliffe), Ron (Rupert Grint), and Hermione (Emma Watson) race against time and evil to destroy 
        the Horcruxes, they uncover the existence of the three most powerful objects in the wizarding world: 
        the Deathly Hallows.
<b>Writer:</b> J.K. Rowling (novel), Steve Kloves (screenplay).
<b>Director:</b> David Yates.
<b>Stars:</b> Daniel Radcliffe, Rupert Grint, Emma Watson.</pre>
        </div></li><hr>


       <li> <div id="t2" style="clear: both;">
        	<center><h3>Harry Potter and the Deathly Hallows: Part 2 (2011)</h3></center>
        	<a href="https://www.imdb.com/title/tt1201607/"><img src="https://images-na.ssl-images-amazon.com/images/I/51cbzR1Ji0L.jpg
"></a>
        	<pre><b>Summary:</b>Harry (Daniel Radcliffe), Ron (Rupert Grint), and Hermione (Emma Watson) search for Voldemort's 
        (Ralph Fiennes') remaining Horcruxes in their effort to destroy the Dark Lord as the final
        battle rages on at Hogwarts.
<b>Writer:</b> J.K. Rowling (novel), Steve Kloves (screenplay).
<b>Director:</b> David Yates.
<b>Stars:</b> Daniel Radcliffe, Rupert Grint, Emma Watson.</pre>
        </div></li><hr>
</ul>
</div> 

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="t4">
	<center><h3 style="color: red" v-for="user in users">{{user.name}}</h3></center>
	<hr>
	<form v-on:submit.prevent="addNewUser">
		<input placeholder="movie name" v-model="user.name" /><br>
		<button type="submit">ADD</button>
	</form>
</div>
<input type="file" accept="image/*" id="file-input" onclick="fun()">
<script>
	function fun()
	{
		const fileInput = document.getElementById('file-input');
		fileInput.onclick('change',(e) => (e.target.files));
	}
		var myapp = new Vue({
			el: '#t4',
			data: {
				users: [{name:""}],
				user: {name:""}
			},
			methods: {
				addNewUser(){
					this.users.push({name: this.user.name});
					name: this.user.name = '';

				}
			}
			});
		
	
</script>



</body>
</html>